@use 'assets/css/sass/custom/theme-variables' as *;

.ci-accordion-block.ci-block {
	// padding: 8rem;
	--accordion-title-color: #ffffff;
	--accordion-content-color: #959595;
	--accordion-divider-color: #424242;

	.accordion-title {
		margin-bottom: 6rem;
		color: var(--accordion-title-color);
		font-size: 3.2rem;
		font-weight: 400;
		letter-spacing: 0.4em;
		line-height: 1;
		text-transform: uppercase;	
	}

	.accordion-wrp .uk-accordion > li {
		margin: 0;
		padding: 2.8rem 0;
		border-bottom: 0.05rem solid var(--accordion-divider-color);
		background: transparent;
	}

	.accordion-wrp .uk-accordion-title {
		position: relative;
		display: block;
		padding-right: 3.2rem;
		text-decoration: none !important;
	}

	.accordion-wrp .uk-accordion > li > a:focus,
	.accordion-wrp .uk-accordion > li > a:focus-visible,
	.accordion-wrp .uk-accordion-title:focus,
	.accordion-wrp .uk-accordion-title:focus-visible {
		outline: none;
		box-shadow: none;
	}

	.accordion-wrp ul h3 {
		margin: 0;
		color: var(--accordion-title-color);
		font-size: 2rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: -0.03em;
	}

	.accordion-wrp .uk-accordion-title::after {
		content: "";
		position: absolute;
		right: 0.2rem;
		top: 50%;
		width: 2.1rem;
		height: 1.3rem;
		background-color: var(--accordion-title-color);
		-webkit-mask-image: url('../../../assets/images/accordion-arrow.svg');
		mask-image: url('../../../assets/images/accordion-arrow.svg');
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		-webkit-mask-size: contain;
		mask-size: contain;
		transform: translateY(-50%) rotate(180deg);
		transition: transform 0.25s ease, background-color 0.25s ease;
	}

	.accordion-wrp .uk-accordion > li:hover .uk-accordion-title::after,
	.accordion-wrp .uk-accordion-title:hover::after,
	.accordion-wrp .uk-accordion-title:focus-visible::after {
		background-color: $accent-color;
	}

	.accordion-wrp li.uk-open .uk-accordion-title::after {
		transform: translateY(-50%) rotate(0deg);
	}

	.accordion-wrp .uk-accordion-content {
		margin-top: 2rem;
		padding-right: 5rem;
		color: var(--accordion-content-color);
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1;
		letter-spacing: -0.03em;
	}


	@media (max-width: 767px) {
		.accordion-title {
			margin-bottom: 4rem;
			font-size: 2rem;			
		}

		.accordion-wrp .uk-accordion > li {
			padding: 2rem 0;
		}

		.accordion-wrp ul h3 {
			font-size: 1.6rem;
		}

		.accordion-wrp .uk-accordion-content {
			font-size: 1.6rem;
			padding-right: 3.2rem;
		}

		.accordion-wrp .uk-accordion-title::after {
			width: 1.3rem;
			height: .8rem;
		}
	}
}

